@import url(https://fonts.googleapis.com/css?family=Lora);

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.education {
    margin-bottom: 20px;
}

.education h3 {
    background-color: #0f0e0e;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
}

.education p {
    margin: 10px 0;
    line-height: 1.6;
}

.education p strong {
    color: #e63946;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.education {
    position: relative;
    margin-bottom: 40px;
}
.education img {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100px;
}

.courses{
    font-family: 'Lora';;
}
